<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARRUSEL</title>
    <link rel="stylesheet" href="bundle.css">

</head>
<body draggable="false">
    <main draggable="false">

        <span id="derecha"> &#10095; </span>
        <span id="izquierda"> &#10094; </span>

        <a href="#one" title="link uno">
            <img src="images/1.png" class="efectos" alt="">    
        </a>

        <a href="#dos" title="link dos">
            <img src="images/2.png" class="efectos" alt="" >    
        </a>

        <a href="#tres" title="link tres">
            <img src="images/3.png" class="efectos" alt="">
        </a>

        <div id="btns">
            <span id="_1" class="active">&#9673;</span>
            <span id="_2" class=" ">&#9673;</span>
            <span id="_3" class=" ">&#9673;</span>
        </div>
    </main>

    <script src="bundle.js">
    </script>
</body>
</html>