.seccion_opciones {
    display: flex;
    flex-flow: column;
    width: 40%;
    height: 700px ;
}

.guia_rapida_div{position: relative; padding: 0; height: 50px !important} 

.guia_rapida_div #help {
    display: block;
    margin: .25em auto;
    cursor: pointer;
}

#help:hover + .guia_rapida_contenido {opacity: 1;visibility: visible;}

.guia_rapida_div .guia_rapida_contenido {

    opacity:0;
    visibility: hidden;
    
    position: absolute;
    width: 100%;
    height: 400px; 
    z-index: 999;
    
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    
    
    font-weight: bold;
    transition: all .7s;    
}

.guia_rapida_div .guia_rapida_contenido .banner {
    display: flex;
    text-align: center;
    color: white;
    border-radius: .5em .5em 0 0;
    width: 100%;
    flex-flow: row;
    background-image: linear-gradient(to right top,#ff1919,#4c4cff);
    justify-content: center;
    padding: 0;
    font-weight: normal;
    letter-spacing: .5em;    
    border-color: black;
    border-width: .5px .5px 0 .5px;
    border-style: solid;
}
.guia_rapida_div .guia_rapida_contenido .reglas{
    background-color: #ffffff;
    width: 100%;
    border-color: black;
    border-width: 0 .5px .5px .5px;
    border-style: solid;
    text-align: center;
}