main,
header {
  display: none;
}
#announcement {
  display: flex;
  justify-content: center;
  align-content: center;
}


// .fixed {
//   position: fixed;
//   top: 10px;
//   left: 50%;
//   transform: translateX(-50%);
//   z-index: 999;
// }

@media screen and (min-width: 768px) {
  main,
  header {
    display: block;
  }
}

#agregar_flexPanel {
  display: flex;
  flex-wrap: nowrap;
  
  
  .FormData{
    outline: 1px dotted black;
  }
  .ListaData{
    cursor: move;
  }

  .FormData,
  .ListaData {
    flex: 1 0 50%;
  }
}
