html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Open Sans',sans-serif;
  color: #00171F;
  margin: 0;
}

#tarjetas div div.card{
  transition: box-shadow 500ms;
  &:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  }
}



// box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;