%resetUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0;
}

.lista {
  width: 100%;
  background-color: #0e4685;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
  @extend %resetUL;

  display: flex;
  position: sticky;
  top: 0;
  z-index: 999;
  li {
    display: block;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255,0.2);
    }

    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 1em;

      &:focus {
        background-color: rgb(14, 102, 184);
      }
    }
  }
}

.lista .menu {
  

  .menu_content {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    z-index: 999;

    visibility: hidden;

    @extend %resetUL;

    box-shadow: 0px 0px 16px  rgba(0, 0, 0, 0.5);

    a {
      color: black;

      &:hover,
      &:focus {
        background-color: #13b5f7;
        color: white;
      }
    }
  }

  &:hover .menu_content,
  &:focus-within .menu_content {
    visibility: visible;
  }
}
