%resetUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0;
}

%estilos_nav {
  width: 100%;
  background-color: #1aabd5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);

  li {
    display: block;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);

    }
    a {
      display: block;
      color: white;
      text-decoration: none;
      padding: 1em;
      text-align: center;
    }
  }

  #github {
    margin: 0 auto;
  }
}

.lista {
  position: relative;
  display: flex;
  flex-direction: column;

  @extend %resetUL;
  @extend %estilos_nav
;


  .menu {
    .menu_content {
      @extend %resetUL;

      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 0;
      position: relative;
      z-index: 999;
      transition: height 500ms;
      min-width: 100%;

      background-color: white;

      a {
        color: #130202;

        &:hover,
        &:focus {
          background-color: #13b5f7;
          color: white;
        }
      }
    }
  }
}


@media screen and (min-width: 576px) {
  
  .lista {
    flex-direction: row;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 999;

    .menu {
      .menu_content {
        display: flex;
        flex-direction: column;
        min-width: auto;
        height: auto;
        position: absolute;
        visibility: hidden;
        z-index: 999;

        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
        transition: none;
      }

      &:hover .menu_content,
      &:active .menu_content,
      &:focus-within .menu_content {
        visibility: visible;
      }
    }

    #github {
      margin: 0 0 0 auto;
    }
  }
}
