.seccion_opciones h2 {margin: 0 1em;}

.seccion_opciones div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.seccion_opciones div button {
    width: 75%;
    padding: 15px 32px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color:white;
    text-align: left !important;
    border: none;
    font-weight: bold;
    font-size: 18px;
    border-radius:.3em;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;
    overflow: hidden;
}

.seccion_opciones div button::after {
    position: absolute;
    content: "";
    background-color:#f1f1f1;
    display: block;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -32px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1s;
}

.seccion_opciones div button:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#red{background-color: #f44336;}
#red:hover {background-color: red;}

#green {background-color:#4CAF50}
#green:hover {background-color: green;}

#blue {background-color: #008CBA;}
#blue:hover {background-color: blue;}

#limpiar {background-color: #555555;text-align: center;}
#limpiar:hover {background-color: #000000;}

#limpiar_partes {background-color: #555555;}
#limpiar_partes:hover {background-color: #000000;}