

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}


button{
    box-shadow: none;
    padding: 1em;
    outline: none;
    border: 1px ridge black;
    background-color: transparent;
    
    font-size: 22px;
    letter-spacing: 2px;
    
    cursor: pointer;
    display: block;
    width: 25%;
    transition: all .5s;
}

button:hover{
    background-color:rgba(0, 0, 0,0.8 );
    box-shadow: 0px 0px 5px rgba(0, 0, 0,0.8 );
    color:white;
}
button:active,button:focus{

    background-color:rgba(0, 0, 0,1 );
    box-shadow: 0px 0px 10px rgba(0, 0, 0,0.8 );
    color:white;

}

.slideontop{
    visibility: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    background-color:rgba(1, 8, 1, 0.7);
    
    

    transition: all .6s;    
}

.slideontop #x{

    position: absolute;
    top: 5%;
    left: 95%;
    transform: translate(-95%,-5%);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color:white;
    border-radius:40%;
    transition: all .5s;
    overflow: hidden !important;
}
.slideontop #x:hover{
    background: white;
    color: black;
}



.slideontop-content{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
   
    
    text-align: center;
    
    width: 60%;
    font-size: 25px;
    height: 50%;
    
    
   
}
.slideontop-content a{
    text-decoration: none;
    color:white;
    border-bottom: 2px solid transparent;
    transition: all .5s;
    display: block;
    padding: 1em;
}
.slideontop-content a:hover{

    border-bottom: 2px solid white;
}

@media screen and (max-width:1160px){
    .slideontop-content{
        white-space: normal;
        overflow: hidden;
        font-size: 16px; 
    }
   
    button{
        padding: 1em !important;
        letter-spacing: 0px;
        width: 50%;
    }
    .slideontop{
        height: 0vh;
        width: 100% !important;
    }
}

@media screen and (min-width:1161px){
    .slideontop-content{
        white-space: nowrap;
        overflow: hidden;
    }
    .slideontop{
        height: 100vh !important;
        width: 0%;
    }

    /* ajustar el height aca para hacer 100 % responsible */
}