<div class="tab-pane fade p-3" id="pills-servicios" role="tabpanel" aria-labelledby="pills-profile-tab">


  <blockquote class="blockquote text-center">
    <p class="mb-0">Suspendisse elit nulla, tempor in ex quis, condimentum volutpat libero.</p>
    <footer class="blockquote-footer">La fuente de la <cite title="Autor"> cita</cite></footer>
  </blockquote>
  
  <hr />

  <div class="row " id="tarjetas">


    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-4">

      <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/id/10/200/200" class="card-img-top" alt="..." width="200" height="200">
        <div class="card-body">
          <h5 class="card-title">Tarjeta de interés</h5>
          <p class="card-text"> scelerisque vitae odio. In eget nisl varius, rutrum massa eget, faucibus erat.
          </p>


        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-primary stretched-link w-100 d-block text-center font-weight-bold">Saber más <i class="far fa-hand-pointer"></i> </a>
        </div>
      </div>

    </div>


    <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-4">

      <div class="card" style="width: 18rem;">
        <img src="https://picsum.photos/id/100/200/200" class="card-img-top" alt="..." width="200" height="200">
        <div class="card-body">
          <h5 class="card-title">Otra tarjeta</h5>
          <p class="card-text">Mauris tortor dolor, tempus eu felis at, iaculis tempor leo. Pellentesque lacinia mi eget
            urna tincidunt, malesuada hendrerit augue rhoncus.

          </p>

        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-primary stretched-link w-100 d-block text-center font-weight-bold">Saber más <i class="far fa-hand-pointer"></i> </a>
        </div>
      </div>

    </div>


    <div class="col-12 col-sm-12 col-md-4 d-flex justify-content-center mb-4">

      <div class="card " style="width: 18rem;">
        <img src="https://picsum.photos/id/1000/200/200" class="card-img-top" alt="..." width="200" height="200">
        <div class="card-body">
          <h5 class="card-title">Una más</h5>
          <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas.</p>

        </div>
        <div class="card-footer bg-white">
          <a href="#" class="btn btn-primary stretched-link w-100 d-block text-center font-weight-bold">Saber más <i class="far fa-hand-pointer"></i> </a>
        </div>
      </div>

    </div>


  </div>
</div>