.contenedor_pagina{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,150px);
  grid-template-rows: repeat(3,150px);
  height: 100vh;
   justify-content: center; /*valores space-between , start, end space-around,space-evenly DEJA ESPACIOS PERFECTOS:)*/

    align-content: center;  /*start center, end, space around,scape-between, spacne-eventy;*/


}
