<main class="contenedor_pagina">
    <section class="firstThree" >explícito 1</section>
    <section class="firstThree" >explícito 2</section>
    <section class="firstThree" >explícito 3</section>

    <section class="span3">explícito 4</section>
    <section class="span2">explícito 5</section>

    <section class="span4">explícito 6</section>

    <section class="implicito">implícito 7</section>
    <section class="implicito">implícito 8</section>
    <section class="implicito">implícito 9</section>
</main>