<main class="contenedor_pagina">
    <section class="firstThree explicit1" >explícito 1</section>
    <section class="firstThree explicit2" >explícito 2</section>
    <section class="firstThree explicit3" >explícito 3</section>


    <section class="explicit4">explícito 4</section>

    <section class="explicit5">explícito 5</section>


    <section class="implicito">implícito 6



    </section>

</main>