<section class="flex">



    <figure class="imagen">
      <img src="images/ejemplo.png" alt="ejemplo_ampliado" width="200" height="200">
      <figcaption>Una imagen</figcaption>
    </figure>




  <blockquote class="quote">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in aliquam nulla. Morbi imperdiet sodales
      consectetur. Aliquam tincidunt gravida augue ullamcorper dignissim. Vestibulum facilisis venenatis erat, eget
      varius
  </blockquote>

</section>