
<footer class="container-fluid  p-2  mt-auto bg-light text-primary d-flex justify-content-center">
  
  <a class="h3 mx-4" href="#"> <i class="fab fa-twitter"></i> </a>
  <a class="h3 mx-4" href="#"> <i class="fab fa-instagram"></i> </a>
  <a class="h3 mx-4" href="#"> <i class="fab fa-facebook-f"></i> </a>
</footer>