<h1 class="text-center font-weight-bold mt-4">Landing page</h1>


<section class="flex">

  <figure class="imagen flexitem">
    <img src="images/ejemplo.png" alt="sample">
  </figure>
  <blockquote class="quote  flexitem">
    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in aliquam nulla. Morbi imperdiet sodales
      consectetur. Aliquam tincidunt gravida augue ullamcorper dignissim. Vestibulum facilisis venenatis erat, eget
      varius.</q>
  </blockquote>

</section>