<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center mx-auto font-weight-bold" >¡Enviado!</h1>
      </div>
      <div class="modal-body">
      <p class="h1 text-success text-center"><i class="fas fa-check-double d-1"></i></p>  
      </div>
     
    </div>
  </div>
</div>