<nav>
  <ul class="options">

    <li class="d-block w-100"><button type="button" name="" id="" class="btn  w-75 btn-success btn-lg">X</button>
    </li>

    <li class="d-block w-100"><button type="button" name="" id="" class="btn   w-75 btn-success btn-lg">X</button>
    </li>
    <li class="d-block w-100"><button type="button" name="" id="" class="btn  w-75  btn-success btn-lg">X</button>
    </li>
  </ul>

</nav>