<blockquote class="blockquote text-center">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<hr />

<div class="row" id="tarjetas" >


<div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-4">

    <div class="card" style="width: 18rem;">
      <img src="https://picsum.photos/id/10/200/200" class="card-img-top" alt="..." width="200" height="200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary stretched-link w-100 d-block text-center">Go somewhere</a>
      </div>
    </div>

  </div>


  <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center mb-4">

    <div class="card" style="width: 18rem;">
      <img src="https://picsum.photos/id/100/200/200" class="card-img-top" alt="..." width="200" height="200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary stretched-link w-100 d-block text-center">Go somewhere</a>
      </div>
    </div>

  </div>


  <div class="col-12 col-sm-12 col-md-4 d-flex justify-content-center mb-4">

    <div class="card " style="width: 18rem;">
      <img src="https://picsum.photos/id/1000/200/200" class="card-img-top" alt="..." width="200" height="200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary stretched-link w-100 d-block text-center">Go somewhere</a>
      </div>
    </div>

  </div>


</div>