<ul class="lista">
      
      <li>
        <a href="#">#&#49;</a>
      </li>
      
      <li class="menu"><a href="#" id="menu_trigger" >#&#50;</a> 

        <ul class="menu_content">
          <li><a id="sub_opt1" href="#">facilisis sit amet neque mattis</a></li>
          <li><a href="#">cursus vehicula urna</a></li>
          <li><a href="#">Aenean malesuada efficitur porttitor</a></li>
          
          
        </ul>
      </li>

      <li><a href="#"><span>#&#51;</span> </a></li>

      <li id="github" >
        
        <a href="https://github.com/Adrian-Revilla"  target="_blank" data-toggle="tooltip" data-placement="auto" title="@Adrian-Revilla" >
        <i class="fab fa-github-square"></i>
        </a>
        
      </li>
</ul>