<div class="tab-pane active" id="agregar" class="clearfix">

    <div id="agregar_flexPanel">


        <ul class="list-group ListaData" draggable="false" id="ul">

            <li class="list-group-item list-group-item-action list-group-item-dark" id="avatar" draggable="true">Avatar
            </li>

            <li class="list-group-item list-group-item-action list-group-item-dark" id="nombre_apellido"
                draggable="true">
                Nombre y Apellidos
            </li>

            <li class="list-group-item list-group-item-action list-group-item-dark" id="edadañosexo" draggable="true">
                Edad y Año de
                nacimiento</li>

            <li class="list-group-item list-group-item-action list-group-item-dark" id="bio" draggable="true">
                Biografía
            </li>

        </ul>

        <form class="  ml-1 FormData " enctype="multipart/form-data" autocomplete="off" id="form"
            ondragstart="return false;" action="/" method="POST">
        </form>

    </div>

</div>