<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap" rel="stylesheet"> 
</head>

<body>
    <main>
        <button id="Accordion1">#1<span class="plus" ></span></button>
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolorem vero, commodi non dolorum
                necessitatibus earum vel illo illum dolores temporibus placeat quibusdam soluta doloribus.</p>
            <p><bdo dir="rtl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolorem vero commodi
                    non dolorum necessitatibus earum vel illo illum dolores temporibus placeat quibusdam soluta
                    doloribus.</bdo></p>
        </div>

        <button id="Accordion2">#2<span class="plus"></span></button>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, similique! Quo ex</p>
        </div>

        <button id="Accordion3">#3<span class="plus"></span></button>
        <div>
            <p>deleniti dignissimos! Consequuntur quaerat iure quas quibusdam labore et accusamus, obcaecati eveniet,
                reprehenderit sint ut! Corrupti, repellendus labore?</p>
        </div>
    </main>
    <p>THIS IS JUST TEXT FOR DEMO PURPOSES</p>


    
</body>

</html>