/*_________________________________________________HEADER________________________________________________*/
.WRAPPER .header_wrapper {
    box-shadow:0px 0 2px #111111;
    display:flex;
    font-family:Roboto, sans-serif;
    justify-content:space-between;
    margin-top:10px
}
.WRAPPER .header_wrapper .flex_1 {align-items:center;display:flex;justify-content:flex-start}
.WRAPPER .header_wrapper .flex_1 .imgx img {height:auto;width:90px}
.WRAPPER .header_wrapper .h_1 {margin-left:10px}
.WRAPPER .header_wrapper .flex_2 {align-self:flex-end;text-decoration:underline}

/*_________________________________________________NAV________________________________________________*/

.WRAPPER .nav_wrapper {
margin-top: .5em;


top:0;
z-index:99
}

.WRAPPER .nav_wrapper .nav_drop {
align-items:center;
display:flex;
font-family:'Lato', sans-serif;
justify-content:space-between;
margin:0;
padding:0;
position:relative;
font-weight: bold;


}


.WRAPPER .nav_wrapper .nav_drop .lorem, .WRAPPER .nav_wrapper .nav_drop .nav_links,.WRAPPER .nav_wrapper .nav_drop .nav_links_md, .WRAPPER .nav_wrapper .nav_drop  #container_dropdown {
border-bottom:2.5px solid transparent;
color: black;
display:block;
font-family:'Lato', sans-serif;
padding:.5em;
text-decoration:none;
transition:border .5s,color .5s;
}

.WRAPPER .nav_wrapper .nav_drop .lorem:hover,.WRAPPER .nav_wrapper .nav_drop .nav_links:hover,.WRAPPER .nav_wrapper .nav_drop .nav_links_md:hover {border-color:black ;} /* #15141f */
.WRAPPER .nav_wrapper .nav_drop  #container_dropdown {position:relative;}
.WRAPPER .nav_wrapper .nav_drop  #container_dropdown:hover {border-color:black;color:black;cursor:pointer}
.WRAPPER .nav_wrapper .nav_drop  #container_dropdown #toggle {transform:rotate(90deg);transition:150ms}
.WRAPPER .nav_wrapper .nav_drop  #container_dropdown:hover #toggle {transform:rotate(0deg)}

.WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden {
    
display:none;
font-family:'Lato', sans-serif;
left:0;
position:absolute;
top:38px;
width:100%;
z-index:999;
background-color:#111111;

}

.WRAPPER .nav_wrapper .nav_drop  #container_dropdown:hover .hidden {display:flex;flex-flow:column}

.WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden a {
color:white;
display:block;
padding:.5em;
text-decoration:none
}

.WRAPPER .nav_wrapper .nav_drop #container_dropdown .hidden a:hover {background-color:rgba(0, 0, 0, .5)}