@charset "UTF-8";
/*FONTS */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* ------------------------------ MEDIA QUERYS ------------------------------*/


@media screen and (max-width: 768px){
    body #modal #modal_dentro #tooltip::before{
        display: none;
    }

    .WRAPPER{

        grid-template-areas: 
        "header header header header" 
        "nav    nav    nav    nav" 
        "aside  aside  aside  aside"
        "aside2 aside2 aside2 aside2"
        "main   main   main   main"
        "main   main   main   main"
        "aside3 aside3 aside3 aside3"
        "aside4 aside4 aside4 aside4"
        "footer footer footer footer";

        width: 100%;
    }

    /* EL HEADER */
    .WRAPPER .header_wrapper{flex-flow: column;}
    .WRAPPER .header_wrapper .flex_1 {flex-flow: column;text-align: center;}
    .WRAPPER .header_wrapper .flex_1 .h_1{margin-left: 0;}
    .WRAPPER .header_wrapper .flex_2{width: 100%;text-align: center}
    /* _______________________________________ */

    /* EL MENU DE NAVEGACION. */
    .WRAPPER .nav_wrapper .nav_drop{flex-flow: column;}
    .WRAPPER .nav_wrapper .nav_drop .lorem{width: 100%;text-align: center;}
    .WRAPPER .nav_wrapper .nav_drop .nav_links,.WRAPPER .nav_wrapper .nav_drop .nav_links_md{display: none;}
    .WRAPPER .nav_wrapper .nav_drop #container_dropdown{width: inherit;} 
    .WRAPPER .nav_wrapper .nav_drop #container_dropdown, .WRAPPER .nav_wrapper .nav_drop  #container_dropdown span{width: 100% !important;text-align: center;}
    .WRAPPER .nav_wrapper .nav_drop #container_dropdown .hidden .a_visibility,.WRAPPER .nav_wrapper .nav_drop #container_dropdown .hidden .a_visibility_md{display: block;}
    /* _______________________________________ */
    
    /* ORDEN DE LOS LINKS EN EL DROPDOWN MENU */
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_2{order: 1;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden  .orden_3{order: 2;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_4{order: 3;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_6{order: 4;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden  .orden_7{order: 5;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_8{order: 6;}
    /* _______________________________________ */

    /* LOS ASIDES DE LA PÁGINA */
    .WRAPPER .aside_wrapper nav{width: 100%;}
    .WRAPPER .aside_wrapper .ads_aside1{display: none;}
    .WRAPPER .ads #ads_aside4{display: none;}
    .WRAPPER .aside_wrapper figure img{width: 100px;height: auto;}
    /* _______________________________________ */

    .WRAPPER .main_wrapper article section .float_ #imagen{float:none;display: block;margin: 0 auto 0.5em auto;}

    
}

@media screen and (min-width: 768px){
    
    body #modal #modal_dentro #tooltip::before{
        top:73%;
        left: 50%;
        transform: translate(-50%,-73%);
    }
    .WRAPPER{
        grid-template-areas:
        "header header header header" 
        "nav    nav    nav    nav" 
        "aside  aside  aside2 aside2"
        "main   main   main   main"
        "main   main   main   main"
        "aside3 aside3 aside3 aside3"
        "aside4 aside4 aside4 aside4"
        "footer footer footer footer";
        
        width: 100%;
    }

    .WRAPPER .nav_wrapper .nav_drop .nav_links{display: none;}
    .WRAPPER .nav_wrapper .nav_drop .nav_links_md{display: block;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden, .WRAPPER .nav_wrapper .nav_drop #container_dropdown .hidden .a_visibility{display: block;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden, .WRAPPER .nav_wrapper .nav_drop #container_dropdown .hidden .a_query_md{display: none;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .a_visibility_md{display: none;}
    

    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_3{order: 1;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_4{order: 2;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_6{order: 3;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_7{order: 4;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .orden_8{order: 5;}
    
    .WRAPPER .aside_wrapper nav{width: 100%;}

    .WRAPPER .aside_wrapper #ads_aside_1fig1{display: none;}
    .WRAPPER .aside_wrapper #ads_aside_2fig2{display: none;}
    .WRAPPER .aside_wrapper #ads_aside_1fig2,.WRAPPER .aside_wrapper #ads_aside_2fig2{margin: auto 0}
    .WRAPPER .ads #ads_aside3{justify-content: center;}
    .WRAPPER .ads {flex-flow:row;}
 
}

@media screen and (min-width: 981px){
    
    body #modal #modal_dentro #tooltip::before{
        top:70%;
        left: 50%;
        transform: translate(-50%,-70%);
    }








}

@media screen and (min-width: 1200px){



    body #modal #modal_dentro #tooltip::before{
        top:70%;
        left: 50%;
        transform: translate(-50%,-70%);
    }

   

    .WRAPPER{

        grid-template-areas: 
        "header header header header" 
        "nav    nav    nav    nav" 
        "aside  main   main   aside2"
        "aside  main   main   aside2"
        "aside3 main   main   aside4"
        "aside3 main   main   aside4"
        "footer footer footer footer";                     

    }  

    .WRAPPER .nav_wrapper .nav_drop .nav_links{display: block;}
    .WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .a_visibility,.WRAPPER .nav_wrapper .nav_drop  #container_dropdown .hidden .a_visibility_md{display: none;}

    .WRAPPER .aside_wrapper #ads_aside_1fig1{display: block;}
    .WRAPPER .aside_wrapper #ads_aside_2fig2{display: block;}
    
    .WRAPPER .ads {
        align-items:center;
        display:flex;
        flex-flow:column;
        
        font-weight:bolder;
        justify-content:space-around;
    }
    
}





