.contacto {

margin: 0 auto;

text-align: center;

box-sizing: border-box;
padding: .5em;

}
.contacto a{
text-decoration: none;
text-transform: uppercase;
transition: .5s all;
color:black;
display: block;
border-bottom: 1px solid transparent;
font-size: 1.75rem;

}
.contacto a::before{
content: "\21AA ";
background-color:none;
}
.contacto a:hover{
font-size:3.5rem;
letter-spacing: 4px;
box-shadow: 0px 1px 5px #111111;


transition: .5s all;

}
.contacto a:active{
transform: translateY(2px);
box-shadow: none;
transition: .5s all;
transition-timing-function: linear;
transition: .5s all;
}
