@keyframes aparecer{
from{opacity:0; } 
to{opacity:1; visibility: visible};

}
#modal {
    
    display:block;
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 9999; 
    visibility: hidden;
    
   
    padding-top: 10em;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
    opacity:0;
  
    animation-name:aparecer;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-play-state: paused;
    
  }
 
  
  #modal_dentro {
    background-color: #fefefe;
    margin: auto;
    padding: 2em;
    border: 2px solid #888;
    width: 80%;
    font-family: 'Lato',sans-serif;
    text-align: center;
    position: relative;
  }
  
  
  #modal #modal_dentro #x {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  #modal #modal_dentro #x:hover,#modal #modal_dentro #x:focus {
  color: #000;
  cursor:pointer;
  }
  #modal #modal_dentro p{
    font-size:18px;
  }
  #modal #modal_dentro p a{
    text-decoration:none; 
    display: block; 
    padding:1em; 
    color: white;
    background-color: #f55145;
    border-radius: 8px;
    transition: all 500ms;
    font-weight: bold;
}
#modal #modal_dentro #link a:hover{
    background-color: #f44336;
    
}
#modal #modal_dentro #tooltip{
    display: block;
    opacity: 0;
    color:white;
    background: #000;
    width: 130px;
    transition: all 500ms;
    font-weight: bold;
    border-radius: 5px;
    padding: .25em;
    margin: 0 auto;

}

#modal #modal_dentro #tooltip::before{
    content: " ";
    display: block;
    border:  15px solid rgb(114, 247, 114);
    border-color: transparent transparent black transparent;
    width: 1.5px;
    position: absolute;
    
    top:70%;
    left: 50%;
    transform: translate(-50%,-70%);
    
}

#modal #modal_dentro #link:hover + #tooltip{
    opacity: 1;
    
}