@charset "UTF-8";
html {
  scroll-behavior: smooth;
  
} 

  .tamaño_barras{
    height: 30px;
  }

  .div_relativo{
    vertical-align: middle;
    
  }

 .cert{
   position: relative;
 }
 .cert .efecto{
   position: absolute;
   top:0;
   left: 0;
   bottom: 0;
   right:0;
   
   opacity: 0;
   transition: opacity 1s,background-color 1s;
 }
 .cert .efecto .text{ 
   position: absolute;
  top: 50%;
  left: 50%;
  color:white;
  transform: translate(-50%,-50%);
  text-align: center;
  font-family: "Arial";
  font-weight: bold;
 }  
 .cert:hover .efecto{
   opacity: 1;
   background-color: black;
 }

 .divisor{
   border-top:1px dashed black;
 }
 #big{
   font-size: 22px;
 }



.borde_inferior::after{
    content: '';
    display: block;
    border-bottom: 2px solid black;
    opacity: 0;
    transform: scaleX(0);
    transition:  transform 700ms, opacity 700ms;
}
.borde_inferior:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

body::-webkit-scrollbar{
  
  background: transparent;
  width: 15px;
  
}
body::-webkit-scrollbar-thumb{
  background-color: #111111;
  border-radius: 1em;
  border-right: 1px solid white;
}