@charset "UTF-8";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header p{
  font-family: arial ,sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0;
  font-size: 50px;
}
.contenedor_pagina{
width:90%;
max-width: 1200px;
border: 10px solid black;
margin:0 auto;
text-align: center;
font-size: 50px;
font-family: 'Roboto',sans-serif;
line-height: 50px;
}
.contenedor_pagina div{
  display: block;
  padding: 20px;
  background-color: #2f89fc;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
