<div id="announcement" class="min-vh-100 w-100 d-flex justify-content-center align-items-center text-center d-md-none">
     <p>La aplicacion no está desarrollada con un width menor a 768px :)</p>
  </div>