<div class="tab-pane" id="buscar">

  <h4 id='titulo'>Selecciona el parámetro de búsqueda</h4>
  <div class="d-flex">
    <div class="list-group  list-group-flush w-25" id="opciones_busqueda">
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#" id="nombre">Nombre</a>
      <a class="list-group-item list-group-item-action" data-toggle="list" href="#" id="user">Usuario</a>
    </div>
    <div class="w-75 ml-1 d-flex flex-column" id="busqueda_">
      <input class="form-control" type="text" id="input">

    </div>
  </div>


</div>