<div class="tab-pane active" id="agregar" class="clearfix">
            <div class="d-flex">
                <ul class="list-group w-50" draggable="false" id="ul">
                    <li class="list-group-item list-group-item-action" id="avatar" draggable="true" >Avatar</li>
                    <li class="list-group-item list-group-item-action" id="nombre_apellido" draggable="true" >Nombre y Apellidos</li>
                    <li class="list-group-item list-group-item-action" id="edadañosexo"  draggable="true" >Edad y Año de nacimiento</li>
                    <li class="list-group-item list-group-item-action" id="bio" draggable="true">Biografía</li>
                </ul>
                    
                <form class="w-50 ml-1 " enctype="multipart/form-data" autocomplete="off" id="form" ondragstart="return false;" method="POST"></form>        
            </div>
             
          </div>