<header ondragstart="return false;" id="home_header">
  <nav class="navbar navbar-light bg-light" style="margin: 0 auto;">
    <span>Bienvenido, <strong>NOMBREUSER</strong> <span style="font-size: 25px;">&#128075;</span></span>
    <i class="navbar-text"> 
      <span style="font-style: normal; color: black; font-size: 25px;">&#128197;</span> 
      último ingreso: <span>00-00-0000, 12:00 AM</span>
    </i>
    <a href="#" class="text-muted">Cerrar sesión <span class="icon-power-off" style="font-size: 25px;"></span></a>
  </nav>
</header>