<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <title>Landing</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
    <link {{!-- rel="stylesheet" --}}  href="bundle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
   <div class="content">

    {{> partials/nav}}
    
    <h1>Index</h1>
    
    <section class="css-selector" style="margin-bottom: 5em;">
      
    {{> partials/blockquote}}

    </section>


    <section style="background-color: white; padding:1em; position:relative;" class="main">
      <div class="title">
        <h3>Main</h3>
      </div>
    {{> partials/parrafos}}
    </section>  
   </div> 
  <section class="css-selector">
  {{> partials/footer}}
  </section>
  

    <div class="scroller"><span>&#x21ea;</span></div>

    
    <script src="bundle.js"></script>
  </body>
</html>
