@charset "UTF-8";

body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
   
    height: 100vh;
}

main {width: 50%;}

main div {
    display: none;
    overflow:hidden;
    height: 0;
    transition: all .6s;
}
main div p {margin: 10px;}

button {
    display: block;
    user-select: none;
    text-transform: uppercase; 
    background-color: #6772FF !important;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    color:white;
    font-size: 25px; 
    
}

button,div {border: none; width: 100%;}
button span {float: right;}

.minus::after {content: "\2212";}
.plus::after {content: "\002B";}